<div id="wrapper-container">
    <div id="dataContainer" class="animate form">  
		<div class="container">
		<label for="mybooks" class="youmail" >Place a bid</label>
	    	<div class="row">
	    		<div class="col-md-4">
	    			 <img id="bookimage" style="width: 10em; margin-left: -3em; border: solid 1px azure;" src="/images/book-default.jpg" alt="" class="center-block img-rounded img-responsive">    			
	    		</div>
	    		<div class="col-md-6">
	    			 <div class="container" style="margin-left: -12em">
		                <p class="text-left" style="font-size:x-large"><strong>Title: <span>{{book.bookTitle}}</span></strong></p>
		                <p class="text-left">
		                    <span class="text-left" style="font-size:medium"><small><b>Author: </b><span>{{book.bookAuthor}}</span></small></span>
		                    <span style="margin-left: 1em; margin-right: 1em">|</span>
		                    <span class="text-left" style="font-size:medium; font-style:italic"><small><b>ISBN: </b><span>{{book.bookISBN}}</span></small></span>   
		                </p>
		                <p id="description" class="text-left">
		                    <span style="font-size:medium; font-weight: bold"><small>Description: </small></span>
		                    <span style="font-size:medium">{{book.bookDesc}}</span>
		                </p>
		                <p class="text-left">
		                    <span class="text-left" style="font-size:medium""><small><b>Condition: </b><span>{{book.bookCondition}}</span></small></span>
		                    <span style="margin-left: 1em; margin-right: 1em">|</span>
		                    <span class="text-left" style="font-size:medium; font-style:italic; font-weight: bold"><small><b>Selling price: </b><span>{{book.sellPrice}}</span></small></span>   
		                </p>
	            	</div>
	    		</div>
	    		<div class="col-md-2">
	    			<div style="margin-top:2em">
	    				<form ng-submit="placeBid()" >
		    				<input class="form-control" required="required" type="number" placeholder="Eg. 10" ng-model="bidPrice"/>
		    				<input type="button" value="Place your Bid" ng-click="placeBid(book)" class="btn btn-info" style="width:100%"/>
	    				</form>
	    			</div>
    		    </div>
	    		
	    	</div><!-- row div -->
	    	<div id="seperator" class="divider" style="border: solid 1px rgb(211, 211, 211); margin-top:1em; margin-bottom:1em"></div>
	    	
	    	<!-- Bids Listing -->
	    	<div class="row">
	    		<label>Previous Bids on this Book </label><button ng-click="refreshBids()" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-refresh"></span></button>
	    		<div class="emptyContainer" ng-if="bids.length <= 0">No bids till now!</div>
	    		<div class="row" ng-if="bids.length > 0" style="background-color: #B6BABF">
	    			<div class="col-md-4" style="border-right : solid #B7BBC1 1px">Bid Date</div>
	    			<div class="col-md-4" style="border-right : solid #B7BBC1 1px">Bidder Email</div>
	    			<div class="col-md-4">Bid</div>
	    			
	    		</div>
		    	<div id="listContainer" ng-repeat="bid in bids">
		    		<div ng-class-odd="'cssOdd'">
			    		<div class="row" ng-if="bid.status=='Open'">
			    			<div class="col-md-4" style="border-right : solid #B7BBC1 1px">{{bid.bidDate}}</div>
			    			<div class="col-md-4" style="border-right : solid #B7BBC1 1px">{{bid.bidderId}}</div>
			    			<div class="col-md-4">{{bid.bidPrice}}</div>
			    		</div>
		    		</div>
		    	</div>
	    	</div>
	    	<!-- End Listing -->
	    </div>
  	</div>
</div>
