<style>
   
    #div2 {
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #000000;
}   

</style>

<div id="wrapper-container">
    <div id="dataContainer" class="animate form">
    <div class="emptyContainer" ng-if="booksList.length <= 0">Book not found!</div>	    
    <div class="container"  ng-if="booksList.length > 0"  ng-repeat="book in booksList">
    	<div class="row">
    		<div class="col-md-4">
    			 <img id="bookimage" style="width: 10em; margin-left: -3em; border: solid 1px azure;" src="/images/book-default.jpg" alt="" class="center-block img-rounded img-responsive">    			
    		</div>
    		<div class="col-md-6">
    			 <div class="container" style="margin-left: -12em">
    			 	<p>
                    	<span style="color:red">{{searchError}}</span>
                    </p>
	                <p class="text-left" style="font-size:x-large"><strong>Title: <span>{{book.bookTitle}}</span></strong></p>
	                <p class="text-left">
	                    <span class="text-left" style="font-size:medium"><small><b>Author: </b><span>{{book.bookAuthor}}</span></small></span>
	                    <span style="margin-left: 1em; margin-right: 1em">|</span>
	                    <span class="text-left" style="font-size:medium; font-style:italic"><small><b>ISBN: </b><span>{{book.bookISBN}}</span></small></span>   
	                </p>
	                <p id="description" class="text-left">
	                    <span style="font-size:medium; font-weight: bold"><small>Description: </small></span>
	                    <span style="font-size:medium">{{book.bookDesc}}</span>
	                </p>
	                <p class="text-left">
	                    <span class="text-left" style="font-size:medium""><small><b>Condition: </b><span>{{book.bookCondition}}</span></small></span>
	                    <span style="margin-left: 1em; margin-right: 1em">|</span>
	                    <span class="text-left" style="font-size:medium; font-style:italic; font-weight: bold"><small><b>Selling price: </b><span>{{book.sellPrice}}</span></small></span>   
	                	<span style="margin-left: 1em; margin-right: 1em">|</span>
	                	<span class="text-left" style="font-size:medium; font-style:italic; font-weight: bold"><small><b>Rent price: </b><span>{{book.rentPrice}}</span></small></span>   
	                </p>
            	</div>
    		</div>
    		<div class="col-md-2">
	            <div class="row" style="margin-top:2em">
	                <div class="bidBtns"><input class="btn btn-primary btn-block" type="button" value="Buy"></div>
	                <div class="bidBtns"><input class="btn btn-warning btn-block" ng-click="loadBiddingPage(book)" type="button" value="Bid"></div>
	                <div><input class="btn btn-success btn-block" type="button" value="Rent"></div>
	            </div>
	            
        </div>
    	</div><!-- row div -->
    	 <div id="seperator" class="divider" style="border: solid 1px rgb(211, 211, 211); margin-top:1em; margin-bottom:1em"></div>
    </div>
  </div>
</div>
