<div id="wrapper-container">
    <div id="dataContainer" class="animate form">  
		<div class="container">
	    	<!-- Bids Listing -->
	    	<div class="row">
	    		<label>Previous Bids on this Book </label>
	    		<div class="row" style="background-color: #B6BABF">
	    			<div class="col-md-3" style="border-right : solid #B7BBC1 1px">{{bid.bidDate}}</div>
	    			<div class="col-md-3" style="border-right : solid #B7BBC1 1px">{{bid.ownerEmail}}</div>
	    			<div class="col-md-3">{{bid.bidPrice}}</div>
	    			<div class="col-md-3"><input type="button" value="Accept"></div>
	    		</div>
		    	<div id="listContainer" ng-repeat="bid in bids">
		    		<div ng-class-odd="'cssOdd'">
			    		<div class="row">
			    			<div class="col-md-3" style="border-right : solid #B7BBC1 1px">{{bid.bidDate}}</div>
			    			<div class="col-md-3" style="border-right : solid #B7BBC1 1px">{{bid.ownerEmail}}</div>
			    			<div class="col-md-3">{{bid.bidPrice}}</div>
			    			<div class="col-md-3"><input type="button" value="Accept"></div>
			    		</div>
		    		</div>
		    		<div id="seperator" class="divider" style="border: solid 1px rgb(211, 211, 211); margin-top:1em; margin-bottom:1em"></div>
		    	</div>
	    	</div>
	    	<!-- End Listing -->
	    </div>
  	</div>
</div>
