<div id="wrapper-container">
    <div id="dataContainer" class="animate form">  
		<div class="container">
	    	<!-- Bids Listing -->
	    	<div class="row">
	    		<label>Available Bids on this Book </label>
	    		<div class="row" style="background-color: #B6BABF">
	    			<div class="col-md-3" style="border-right : solid #B7BBC1 1px">Bid Date</div>
	    			<div class="col-md-3" style="border-right : solid #B7BBC1 1px">Bidder</div>
	    			<div class="col-md-3" style="border-right : solid #B7BBC1 1px">Bid Price</div>
	    			<div class="col-md-3">Accept Bid</div>
	    		</div>
		    	<div id="listContainer" ng-repeat="bid in bidsList">
		    		<div ng-class-odd="'cssOdd'">
			    		<div class="row">
			    			<div class="col-md-3" style="border-right : solid #B7BBC1 1px; text-align:center">{{bid.bidDate}}</div>
			    			<div class="col-md-3" style="border-right : solid #B7BBC1 1px; text-align:center">{{bid.ownerEmail}}</div>
			    			<div class="col-md-3" style="border-right : solid #B7BBC1 1px; text-align:center">{{bid.bidPrice}}</div>
			    			<div class="col-md-3"><input type="button" value="Accept" style="margin-bottom:0.1em"></div>
			    		</div>
		    		</div>
		    	</div>
	    	</div>
	    	<!-- End Listing -->
	    </div>
  	</div>
</div>
